body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f2f8f7;
}

.section_logo .logo img {
  height: 52px;
  width: 100%;
  opacity: 2.8;
  margin: 0 0 10px 0;
}

/* Section Inner */
div .section_main_menu {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Navigation */
#dws-menu, header label {
  display: none;
}

header nav, header .leb-menu {
  background-color: #04948c;
}

.menu {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .section_logo .logo {
  height: 50px;
  width: 50px;
}
.menu .section_main_menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu .section_main_menu ul li:hover {
  background: rgba(0, 0, 0, 0.3);
}
.menu .section_main_menu ul li a {
  display: block;
  padding: 15px 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
.menu .section_social_networks {
  background-color: #04948c;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-left: 1px solid white;
}
.menu .section_social_networks button {
  border: none;
  border: 1px solid black;
  background-color: white;
  padding: 0;
  width: 25px;
  height: 25px;
}
.menu .section_social_networks button img {
  width: 25px;
  height: 25px;
  transition: all 2.5s linear;
}
.menu .section_social_networks button img:hover {
  cursor: pointer;
  opacity: 0.5;
  scale: 125%;
}

.banner {
  text-align: center;
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.banner .img_banner {
  width: 1500px;
  height: 100px;
  margin: 1px auto;
}

.about {
  width: 300px;
  border-radius: 20px;
  border: 1px solid #04948c;
  font-family: "calibri", serif;
  font-size: 20px;
  text-shadow: 4px 4px 4px #aaa;
  color: #04948c;
  text-decoration: none;
  background-color: whitesmoke;
  text-align: center;
}

.parfume_description {
  margin-top: 16px;
  padding: 0;
  width: 0px;
  height: 0;
  font-size: 0px;
  color: #042e2c;
  text-decoration: none;
  background-color: #FFE5B4;
  text-align: center;
  opacity: 0;
  transition: 2s;
}

.bottom_div {
  margin: 0 auto;
  width: 40%;
}
.bottom_div .top_div {
  background: #04948c;
  color: white;
  text-align: center;
  margin: 5px auto;
}
.bottom_div .top_div .h3top_div {
  padding-top: 3px;
  padding-bottom: 4px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.bottom_div .form_fields {
  margin: 0 auto;
  width: 300px;
}

/*===== MEDIA ======*/
header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
}
.gallery .row {
  gap: 250px;
  margin: 0 auto;
}
.gallery .row .div_parfume_img {
  display: inline-block;
  justify-content: space-around;
  margin: 50px;
}
.gallery .row .div_parfume_img img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid #04948c;
  cursor: pointer;
  transition: all 2.5s linear;
}
.gallery .row .div_parfume_img img:hover {
  opacity: 0.5;
  scale: 110%;
  border-radius: 60px;
  border: 1px solid #940404;
}
.gallery .row .div_parfume_img img:hover ~ .parfume_description {
  opacity: 1;
  transition: 2s;
  margin-top: 16px;
  width: 300px;
  height: auto;
  border-radius: 20px;
  border: 2px solid #04948c;
  font-family: "calibri", serif;
  font-size: 18px;
  color: black;
  text-decoration: none;
  background-color: #f3ecdf;
  text-align: center;
}

@media all and (max-width: 980px) {
  header label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
  }
  #dws-menu:checked ~ .menu {
    margin: 0px;
  }
  #dws-menu:checked ~ .menu .section_social_networks {
    border-top: 1px solid white;
  }
  .menu {
    display: block;
    position: absolute;
    width: 200px;
    margin-left: -200px;
    transition: all 0.5s;
  }
  .menu .section_logo .logo {
    display: none;
  }
  .menu .section_main_menu {
    padding: 0;
  }
  .menu .section_main_menu ul {
    flex-direction: column;
  }
  .menu .section_main_menu ul li {
    border-top: 1px solid #fff;
  }
  .menu .section_main_menu ul li a {
    font-size: 14px;
    padding: 15px 10px;
  }
  .menu .section_social_networks {
    justify-content: space-around;
  }
  .gallery .row {
    margin: 0 10px;
    gap: 0px;
  }
  .gallery .row .div_parfume_img {
    width: auto;
    margin: 0 25px;
  }
}
@media all and (max-width: 800px) {
  .menu {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .gallery .row {
    margin: 0;
    gap: 0px;
  }
  .gallery .row .div_parfume_img {
    margin: 0 25px;
    width: auto;
  }
}
@media all and (max-width: 650px) {
  .menu {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .gallery .row {
    margin: 0 50px;
    gap: 0px;
  }
  .gallery .row .div_parfume_img {
    width: 100%;
    margin: 0 50px;
  }
}/*# sourceMappingURL=Style.css.map */